.homeValueApp {
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  min-width: 450px;
  font-family: Tahoma;
}

.appTitle {
  font-size: 24px;
  line-height: 30px;
  padding: 32px 0px 16px;
  margin: 0px 16px 32px;
  border-bottom: 1px solid rgb(209, 209, 213);
  color: rgb(42, 42, 51);
}

.bestimateSection {
  padding: 0 16px;
}

.bestimateTrademark {
  font-size: 16px;
  margin-bottom: 8px;
  cursor: pointer;
}

.bestimateNumber {
  color: rgb(42, 42, 51);
  font-size: 22px !important;
  font-weight: 600 !important;
  margin: 0px 0px 8px;
}

.bestimate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bestimateRange {
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: rgb(20, 157, 48);
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.showEstimateModelsButton {
  border-width: 0px;
  outline: none;
  margin: 32px 16px 0px;
  font-size: 15px;
  line-height: 22.5px;
  color: #006aff;
  cursor: pointer;
}

.bestimateModelsSection {
  font-size: 15px;
  line-height: 22.5px;
  color: #2a2a33;  
  background-color: #f1f1f4;
  margin-bottom: 16px;
  padding: 16px;
  max-width: max-content;

}

.bestimateModelTitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
}

.bestimateModelExplaination {
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
}

.differentModels {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.iconWithSpace {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.modelNames {
  width: 50%;
  margin-top: 8px;
  display: flex;
  align-items: center;
  flex: 1 0 auto;
}